@import '_vars';
@import '_global';
@import '_fonts';

.header__top {
   background-color: #fff;
}
// start header
.header__top-inner{
   //padding-top:22px;
   //padding-bottom:17px;
   height: 70px;
   display:flex;
   justify-content:space-between;
   align-items:center;
}
.header__text{
   margin-left:auto;
   margin-right:50px;
   span{
      color: $red;
   }
}
.header__btn{
   padding:4px;
   width: 72px;
   border-radius: 4px;
   text-align:center;
   color:#fff;
   font-size:12px;
}
.header__btn-login{
   background-color: $green;
}
.header__btn-register,
.header__btn-logout{
   background-color: $red;
   margin-left:7px;
}
.header__menu{
   background-color: $bg; 
}
.menu{
   display:flex;
    align-items:center;
    height:60px;
}

.menu__list{
   li{
      display:inline-block;
      & + li{
         margin-left:30px;
      }

   }
   a{
      color:#fff;
      font-size:14px;
   }

}
.header__circle {
   &.active {
      display: block;
   }
   display: none;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   background-color: #f5f5f5;
   position: relative;
   &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #a0a0a0;
      font-size: 14px;
   }

   span {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      right: -7px; 
      top: -7px;
      font-size: 11px;
      color: #fff;
   }
} 
.header__box {
   display: flex;
   align-items: center;
}  
.notification {
   span {
      background-color: $yellow;
   }
}
.message {
   span {
      background-color: $tomato;
   }
}
.basket {
   margin-right: 20px;
   span {
      background-color: $green;
   }
}
.header__btn-login--off{
   display: none;
}
.header__btn-logout{
   display:none;
   &.header__btn-login--on{
      display:block;
   }
}

.user{  
   
   margin-right: 25px;
   padding-right: 20px;
   position: relative;
   &::before {
      content:"\f107";
      position:absolute;
      font-family: 'icomoon';
      font-size: 16px;
      color: #707070;
      top: 0;
      right: 0;
   }
   &__inner{
      display: flex;
      align-items: center;
   }
   &__images {
      width: 34px;
      height: 34px;
      margin-right: 15px;
      overflow: hidden;
      border-radius: 50%;  
   }
   &__info {
     font-size: 14px;
      line-height: 24px;
     
   }
   &__name {
     @include f500;
     color: #222;
     
   }
   &__money {
      color: $green;
      @include f700;
   }
}
.user__box {
   //height: 100%;
   margin-top: 39px;
    height: 90px;
}

.user__box,
.basket__box,
.notification__box,
.message__box{
   position: relative;
   &:hover{
      .user__menu{
         height: auto;
         border-width: 1px;
         overflow:auto;
      }
      .header__circle::before{
         color: $bg;
         font-weight: 700;
      }
   }
}

.circle__menu{
   position:absolute;
   display: none;
   z-index: 1;
   top: 33px;
   right: -10px;
   padding-top: 28px;
   transition: all 0.8s;
   z-index: 1;
}

.basket__box,
.notification__box,
.message__box{
   margin-left:15px;
   &:hover{
      .circle__menu {
         display: block;
         top:24px;
         
      }
      
   }

}

.circle__items {
   background-color: #fff;
   border: 1px solid #e0e0e0; 
   padding: 23px;
   display: flex;
   align-items: center;
   width: 269px;
   position: relative;
   &::before{
      position: absolute;
      top: 27px;
      right: 28px;
      color: #b0bec5;
      font-size: 16px;

   }
}

.circle__images {
   margin-right: 15px;
}

.circle__info {
   
   &-name{
      @include f700;
      color: $bg;
      margin-bottom: 7px;
   }
   &-theme{
      font-size:12px;
      color: $green;
      @include f500;
      margin-bottom: 7px;
   }
   &-price{
      @include f700;
   }
   &-date{
      font-size: 10px;
      color: #707070;
      font-family: 'Roboto-Regular', sans-serif;
   }
}

.basket__summ {
   background-color: #fff;
   padding: 16px 16px 12px;
   border: 1px solid #e0e0e0;
   border-top:0;
}

.basket__title{
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   @include f700;
   font-size:16px;
   color: $bg;
   padding-left: 21px;
   padding-right: 30px;
  }

  .basket__btn {
     padding: 12px 5px;
     @include f700;
     font-size: 14px;
     color: #f4f6f5;
     background-color: $green;
     text-align: center;
     width: 100px;
  }

  .basket__btn-checkout {
     width: 123px;
     margin-left: 6px;
     background-color: $red;
  }

  .notification__menu,
  .message__menu {
     .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
     }
     .circle__info{
        line-height: 18px;
     }
    
  }

 .icons-color::before{
    color: $tomato;
 }

 .header__btn-menu,
 .menu__btn {
    display: none;
 }
  
.user__menu {
   top:60px;
   left:20px; 
    border-top: none;
   position: absolute;
   //padding-top: 37px; 
   -webkit-transition: all .3s;
   transition: all .4s;
   height:0;
   overflow: hidden;
   z-index: 2;
   li{
      background-color: #fff;
      padding:0px 20px;
      width: 158px;
      border-left: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;
      
   }
   li:first-child{  
      padding-top: 15px;
      border-top: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;
   }
   li:last-child{
      border-bottom: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
      border-right: 1px solid #d3d3d3;

   }

   a{
      font-size: 12px;
      color: #546e7a;
      margin-bottom: 15px;
      @include f500;
   }
}
// end header

//start modal login
#modal {
   background-color: #8bc34a;
   width: 730px;
   height: 486px;
   padding-top: 90px;
   padding-bottom: 10px;
   
}
.login_title {
   font-size: 48px;
   @include f700;
   margin-bottom: 40px;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
}
.login__wrapper {
   form{
      max-width: 400px;
      margin: 0 auto;
   }
   label {
position: relative;
display: block;
width: 100%;
&::before{
   position: absolute;
   display: block;
   font-family: 'icomoon';
   font-size: 14px;
   color: #fff;
   left: 18px;
   top: 15px;
}
   }

   .login__label-name::before {
content:"\f007";
   }

   .login__label-pass::before {
content:"\f023";
   }

   input {
      height: 43px;
      margin-bottom: 8px;
      border: none;
      background-color: #76ae36;
      color: #fff;
      font-size: 14px;
      padding-left: 40px;
      display: block;
      width: 100%;
      outline: none;
      &::placeholder {
         color: #fff;
         font-size: 14px;
      }
   }
   button {
      margin-top: 8px;
      padding: 18px 0 16px;
      background-color: #fff;
      width: 140px;
      text-transform: uppercase;
      border: none;
      margin-right: 10px;
      @include f700;
      text-align: center;
      color: #000;
      box-shadow: 3px 3px 2px 0px rgba(118,174,54,0.75);
   }
}
.lost-pass {
   display: block;
   margin-top: 20px;
   color: #fff;
   font-size: 18px;

}
.creat-acc {
   margin-top: 19px;
   padding: 14px 0 20px 28px;
   text-align: center;
   width: 245px;
   background-color: #76ae36;
   color: #fff;
   font-size: 18px;
   position: relative;
  
  &::before{
   content: "\f044";
     position: absolute;
     top: 17px;
     left: 22px;
     font-family:'icomoon';
  }
}
.fancybox-button svg path{
   color: #fff;
   font-weight: 700;
}



//end modal login

//start search
.search{
   
   background-repeat:no-repeat;
   background-size: cover;
   background-position:center;
   min-height:533px;
   &.page-search{
      min-height: 230px;
      .search__inner{
        padding: 55px 0 70px;
        &-text{
          margin-bottom: 20px;
        }
      }
    }
}
.search__inner{
   padding: 155px 0 100px;
  text-align:center;
  color: #fff;
  &-title{
     margin-bottom: 10px;
     font-size:48px;
     @include f700;
     line-height:72px;
  }
  &-text{
     margin-bottom:50px;
     font-size:20px;
     @include f500;
     line-height:30px;
  }
  &-form{
     max-width: 670px; 
     margin:0 auto;
     position:relative;
     input{ 
        display:block;
        width:100%;
        border:none;
        outline:none;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75); 
        height: 56px;
        border-radius: 4px;
        @include f500;
        font-size:14px;
        padding: 0 60px 0  25px;
        &::placeholder{
           color:#90a4ae;
        }
        
     }

     button{
        cursor: pointer;
        position:absolute;
        border:none;
        background-color:white;
        right:23px;
        top:18px;
     }
  }
}
//end search

//start product

.products{
   padding: 110px 0px;
   background-color:$grey;
}

.products__inner-btn{
   text-align:center;
   margin-bottom:60px;
   button{
      cursor:pointer;
      padding:12px 21px;
      border:none;
      background-color:#fff;
      & + button{
         margin-left:5px;
      }
      //  button active
      &.mixitup-control-active{
         background-color: $red;
         color: #fff;
      }
   }
}
.products__inner-box{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}
.product__item{
   max-width: 442px;
   width:100%;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
   margin-bottom:30px;
   &-img{
      min-height:250px;
      background-repeat: no-repeat;
      display:block;
      background-position: center;
      background-size:cover;
   }
   &-content{
      display:flex;    
      justify-content:space-between;
      padding:10px 30px;
      align-items:center;
      min-height: 90px;
      @include f500;
      border-bottom: 1px solid #e7ecf2;
   }
      &-name{
         max-width:310px;  
      }
      &-title{
         color:$bg;
         display:block;
         
         font-size: 18px;
      }
      &-category{
        display:block;
        font-size:14;
        color: $green;
      }
      &-price{
         @include f700;
         font-size:20px;
      }
      &-info{
       display:flex;
       justify-content:space-between;
       align-items:center;
       padding:10px 30px;
       min-height:70px;  
      }
      &-author{
         display:flex;
         align-items:center;
         max-width:245px;
         .avatar{
            min-width: 30px;
            height:30px;
            border-radius:50%;
            background-position:center;
            display: inline-block;
            background-repeat:no-repeat;
            background-size:cover;
            margin-right:14px;

         }
         span{
            font-size:14px;
            @include f500;
         }
      }
      &-star{
         font-size:12px;
         span{
            color: $bg;
         }
      }
   

}
.products__bottom-btn{
   
   text-align:center;
   button{
      margin:45px 5px 0;
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      border:none;
      padding: 17px 30px;
      background-color: #fff;
      cursor:pointer;
                        //  button active
      &.mixitup-control-active{
         background-color: $red;
         color: #fff;
      }
   }

}
//end product

// begin SECTION Product Slider ( product-slider )

.product-slider{
   padding:110px 0px 120px;
   .slick-dots{
      text-align:center;
      margin-top:50px;
       li{
          display:inline-block;
          margin-left:3px;
          margin-right:3px;
           &.slick-active{
              button{
               background-color: $green;
              }
           }
            button{
               border-radius:50%;
               background-color: rgb(232, 232, 232);
               border:none;
               font-size:0;
               width:16px;
               height:16px;
               cursor:pointer;
               outline:none;
            }
       }
   }
}


// end SECTION Product Slider ( product-slider )

// section advantages

.advantages{
   background-color: $bg;
   padding:110px 0;
}
.advantages__title{
   color:#fff;
}

.advantages__inner{
 display:flex;
 justify-content:space-between;
}
.advantages__item{
   max-width:370px;
   text-align:center;
   padding:0px 15px;
   
   &:hover{
      .advantages__item-images{
         background-color: $green;
      }
      .advantages__item-title{
         color: $green;
      }
   }
   &-images{
      width:114px;
      height:114px;
      background-color:#fff;
      border-radius:50%;
      display:flex;
      justify-content:center;
      align-items:center;
      margin:0 auto 30px;
      transition: all .3s;
   }
   &-title{
      margin-bottom: 25px;
      font-size:24px;
      color:#fff;
      @include f500;
      transition: all .3s;

   }
   &-text{
      font-size:15px;
   }  

}
.svgicon-1{
   svg{
      width:50px;
   }
 
}
.svgicon-2{
   svg{
      width:70px;
   }
   
}
.svgicon-3{
   svg{
      width:86px;
   }
   
}

// end section advantages
 
//start section author

.author{
   display:flex;
   justify-content:center;
   align-items:center;
   background-position:center;
   background-repeat:no-repeat;
   background-size:cover;
   min-height:750px;
   &__box{
      background-color: $green;
      max-width:654px;
      min-height:215px;
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
   }
   &__title{
      font-size:30px;
      max-width:265px;
      margin-right:36px;
      line-height:30px;
      color:#fff;
      span{
         @include f700;
      }
   }
}
.author__link{
   font-size:18px;
   padding:23px 43px;
   background-color:#fff;
   color:$bg;
}
//end section author
 
// section tutorial
.tutorial{
   padding-top:70px;
   padding-bottom:120px;
   &__inner{
      display:flex;
      justify-content:space-between;
   }
   &__item{
      max-width:370px;
      width:100%;
   }
}
.tutorial__item{
   &-images{
      min-height:270px;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      
   }
   &-title{
      background-color:#f8f8f8;
      font-size:24px;
      text-align:center;
      @include f700;
      padding:30px 10px;
      color: $bg;

   }
}
// end section tutorial 

// footer
.footer{ 
background-color: $bg;
&__inner{
   display:flex;
   justify-content:space-between;
   padding: 100px 0 80px;

}
}  

.footer__col{
   max-width:270px;
   width:100%;
   &-menu{
      max-width:220px;
   }
   &-title{
      font-size:22px;
      padding-bottom:22px;
      margin-bottom:30px;
      font-family: 'Raleway', sans-serif;
      color:#fff;
      position:relative;
      &::after{
         content:'';
         position:absolute;
         bottom:0;
         left:2px;
         width:51px;
         background-color: $green;
         height:3px;
      }
   }
   &-text{
      color:#b7c3c8;
      margin-bottom:30px;
   }
}
.footer__info{
   margin-top:18px;
   font-size:14px;
   color:#fff;
   @include f500;
   padding-left:30px;
   position:relative;
   &::before{
      content:"\f041";
      position:absolute;
      left:0;
      top:0;
      font-family:'icomoon';
      color: $green;
      font-size:18px;
   }
}
.footer__info-fhone{
   &::before{
      content:"\f095";
     
   }
}
.footer__col-list{
  a{
     margin-bottom:13px;
     color:#b7c3c8;
     padding-left:22px;
     position:relative;
     &::before{
        content:'\f105';
        position:absolute;
        font-size:18px;
        color: $green;
        left:0;
        font-family:'icomoon';
     }
  }
}

.footer__social-link{
   margin-bottom:38px;
   a{
      width:28px;
      height:28px;
      background-image:url(../images/css_sprites.png);
   }

   li{
      display:inline-block;
      & + li{
         margin-left:7px;
      }

   }
}
.facebook{
   background-position: 0px 0px;
}
.twitter{
   background-position: 56px 0px;
}
.youtube{
   background-position: 0px -28px;
}
.pinterest{
   background-position: 56px -28px;
}
.linkedin{
   background-position: 28px 0px;
}
.footer__form-title{
   margin-bottom:22px;
   font-size:20px;
   color:#fff;
}
.footer__form{
   position:relative;
   input{
      border:none;
      background-color:#2f3c43;
      display:block;
      width:100%;
      padding-right:51px;
      padding-left:17px;
      height:40px;
      color:#fff;
      font-size:14px;
      &::placeholder{
         color:#697378;
      }
      
   }
   button{
      position:absolute;
      bottom:0;
      right:0;
      background-color:$green;
      border:none;
      width:43px;
      height:40px;
      cursor:pointer;
      &::before{
         content:'\f124';
         position:absolute;
         font-family:'icomoon';
         color:#fff;
         font-size:20px;
         top: 9px;
         right: 14px;

      }
   }
}

.footer__copy{
   border-top: 1px solid #424d53;
   padding-top:22px;
   padding-bottom:28px;
}
.footer__copy-text{
   text-align:center;
   color:#919699;

}

// end footer


// start product-page
.product-page__inner{
   display: flex;
   padding-bottom: 110px;
 }
 .product-page__aside{
   margin-right: 30px;
 }
 .aside__item{
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 0px 32px 25px;
   margin-bottom: 30px;
   width: 270px;
 }
 .aside__title{
   border-bottom: 1px solid #dde3e8;
   font-size: 20px;
   color: $bg;
   padding: 18px 0px 16px;
   @include f700;
 }
 .category__list{
   padding-top: 10px;
   li{
     padding: 10px 0;
     display: flex;
     justify-content: space-between;
     position: relative;
     padding-left: 20px;
     &::before{
       content: '\f105';
       color: #8bc34a;
       position: absolute;
       left: 0;
       font-size: 18px;
       font-family: 'icomoon';
     }
   }
   a{
     color: $bg;
   }
   span{
     color: #90a4ae;
     margin-left: 10px;
   }
 }
 .price-range{
   form{
     padding-top: 20px;
   }
   button{
     margin-top: 55px;
     padding: 16px 10px;
     background-color: $green;
     text-align: center;
     color: #fff;
     @include f500;
     width: 100%;
     display: block;
     border: none;
     cursor: pointer;
     position: relative;
     &::before{
       content: '\f002';
       color: #fff;
       position: absolute;
       left: 58px;
       top: 15px;
       font-size: 15px;
       font-family: 'icomoon';
     }
   }
 }
 .irs-min,
 .irs-max{
   display: none;
 }
 .irs--flat .irs-line{
   background-color: #f2f5f8;
   height: 5px;
 }
 .irs--flat .irs-bar{
   background-color: $bg;
   height: 5px;
 }
 .irs--flat .irs-handle{
   width: 16px;
   height: 16px;
   border: 4px solid $green;
   background-color: #fff;
   border-radius: 50%;
 }
 .irs--flat .irs-handle>i:first-child{
   display: none;
 }
 .irs-from, .irs-single, .irs-to{
   top: 45px;
 }
 .irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
   display: none;
 }
 .irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
     color: #78909c;
     font-size: 15px;
     line-height: 1.333;
     text-shadow: none;
     padding: 0;
     background-color: transparent;
     border-radius: 0px;
 }
 .irs--flat .irs-handle{
   top: 19px;
 }
 .product-page__aside{
   .product__item-img{
     min-height: 120px;
   }
   .product__item{
     box-shadow: none;
   }
   .product__item-content{
     padding: 0;
     min-height: 75px;
     border-bottom: none;
   }
   .product__item-info{
     padding: 0;
     min-height: 0;
   }
   .product__item-title{
     font-size: 16px;
   }
   .product__item-price{
     font-size: 16px;
   }
   .product__item-starnum{
     display: none;
   }
   .rate-star{
     margin-right: 0;
   }
   .product__item-author .avatar{
     margin-right: 9px;
   }
   .jq-ry-container{
     padding: 0;
   }
   .product__item{
     padding-bottom: 30px;
     margin-bottom: 30px;
     border-bottom: 1px solid #dde3e8;
   }
 }
 .aside__product-item{
   .product__item:last-child{
     border: none;
     padding-bottom: 0;
   }
   .product__item:first-child{
     margin-top: 25px;
   }
 }
 .top-sellers__link{
   padding: 16px 10px;
   display: block;
   background-color: $green;
   color: #fff;
   @include f500;
   text-align: center;
 }
 
 .product-page__filter{
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 0px 20px;
   margin-bottom: 30px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   button{
     cursor: pointer;
     background-color: transparent;
     border: none;
     font-size: 16px;
     color: #90a4ae;
     outline: none;
     &.active{
       color: $green;
     }
   }
 }
 .product-page__filter-sort{
   color: #707070;
   font-size: 14px;
   display: flex;
   align-items: center;
 }
 button.icon-sort-amount-desc{
   font-size: 18px;
   color: #455a64;
 }
 button.icon-unsorted{
   font-size: 14px;
   color: #707070;
 }
 .product-page__content{
   width: 100%;
 }
 .product-page__content{
   .product__item{
     max-width: 270px;
     background-color: #fff;
     transition: all .5s;
   }
   .product__item-img{
     min-height: 180px;
   }
   .product__item-content{
     padding: 10px 20px;
   }
   .product__item-title{
     font-size: 16px;
   }
   .product__item-info{
     min-height: 65px;
     padding: 10px 20px;
   }
   .rate-star{
     margin-right: 5px;
   }
   .jq-ry-container{
     padding: 0;
   }
 }
 .product-page__items{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 30px;
 }
 .pagination__list{
   li{
     display: inline-block;
     & + li{
       margin-left: 6px;
     }
   }
   a,
   span{
     box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
     width: 43px;
     height: 38px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     font-size: 16px;
     color: $bg;
     @include f500;
     &.active{
       background-color: $red;
       color: #fff;
     }
   }
 }
 .product__item-text{
   display: none;
 }
 .product__item-price{
   span{
     display: none;
   }
 }
 .product__item-list{
   display: none;
   .icon-comment-o,
   .icon-heart-o{
     display: inline-block;
     font-size: 12px;
     color: #70838d;
     padding-left: 50px;
     border-left: 1px solid #aeb4bb;
     position: relative;
     span{
       @include f500;
       color: $bg;
     }
     &::before{
       font-size: 16px;
       color: $green;
       position: absolute;
       left: 20px;
       top: 0;
     }
   }
   .icon-comment-o{
     padding-right: 30px;
     &::before{
       top: -2px;
     }
   }
 }
 .product__item{
   &.list{
     max-width: 100%;
     .product__item-img{
       width: 240px;
       float: left;
       min-height: 100%;
     }
     .product__item-text{
       display: block;
       font-size: 14px;
       color: #70838d;
       margin-top: 15px;
       margin-bottom: 5px;
     }
     .product__item-price{
       font-size: 30px;
       span{
         display: block;
         font-size: 13px;
         color: #aeb4bb;
         margin-top: 30px;
       }
 
     }
     .product__item-name{
       max-width: 480px;
     }      
     .product__item-content{
       padding-top: 23px;
     }
     .product__item-list{
       display: block;
     }
     .product__item-star{
       margin-left: auto;
       margin-right: 30px;
     }
   }
 }
 
 
 // end product-page

 // start product-one 
 .product-one{
    padding-bottom: 100px;
 }
 .product-one__inner{
    display: flex;
 }
 .product-one__content{
    margin-right: 31px;
    max-width: 870px;
 }
.product-one__images-inner{
   background-color: #fff;
   border: 1px solid #dcdcdc;
   display: flex;
   justify-content: center;
   align-items: center;
}
 .product-one__images{
    width: 100%;
    height: 422px;
    background-image: url(./images/content/product.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .product-one__title{
    font-size: 30px;
    color: $bg;
    line-height: 40px;
    @include f500;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 .product-one__text{
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
 }
 
 .product-one__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    text-align: center;
 }
 .product-one__link{
    a{
    color: $grey;
    width: 150px;
    padding: 16px 8px;
    font-size: 16px;
    }
    a + a {
      margin-left: 20px;
       }
 }
 .link-live{
    background-color: #e74c3c;
 }
 
 .link-Screenshots{
background-color: #455a64;
 }
 .link-Documentation{
background-color: #8bc34a;
 }
 .product-one__social{
    a{
       width: 54px;
       height: 54px;
       position: relative;
    }
    a + a {
       margin-left: 3px;

    }
    a::before{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #fff;
       font-size: 18px;
    }
 }
 .icon-facebook{
    background-color: #6370b6;
 }
 .icon-twitter{
   background-color: #64b5f6;
}
.icon-linkedin{
   background-color: #4f71ce;
}
.icon-pinterest-p{
   background-color: #d32f2f;
}

//start tabs
.tabs{
   display: flex;
   text-align: center;
   border: 1px solid #d7d7d7;
   .tab{
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      background-color: #fff;
      padding: 20px 0;
      color: #70838d;
      & + .tab{
         border-left: 1px solid #d7d7d7;
      }
      
   }
}
.tab_content{
   background-color: #fff;
   border: 1px solid #d7d7d7;
   border-top: none;
   padding: 30px 30px 50px;
   
}

.product-one__tabs{
   margin-bottom: 55px;
}
.tab-item{
   display: none;
   &:first-child{
      display: block;
      
   }
}
.tab-item__list{
   line-height: 36px;
   font-size: 16px;
   color: #707070;
   // column-count: 1; 
   display: flex;
   flex-wrap: wrap;
   li{
      max-width: 270px;
      width: 100%; 
   }
}


//end tabs

.product-one__more-title{
   font-size: 18px;
   @include f500;
   color: $bg;
   padding: 18px 25px;
   background-color: #fff;
   border: 1px solid #dcdcdc;
   margin-bottom: 28px;
}
.product-one__more-icons{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.productmini{
 margin-bottom: 27px;
 display: flex;
 height: 90px;
 align-items: center;
 max-width: 270px;
 width: 100%;
 background-color: #fff;
 box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
 padding-right: 10px;
}
.productmini__images{
   width: 100px;
   height: 90px;
   margin-right: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.productmini__name{
   @include f500;
   font-size: 14px;
   color: $bg;
}
.productmini__thema{
   color: $green;
   font-size: 12px;
}
.productmini__price{
   @include f700;
   font-size: 18px;
   color: $bg;
}
// start aside (sidebar)

.price__box{
   display: flex;
   justify-content: space-between;
   padding: 30px 0;
}
.price__product{
   font-size: 22px;
   @include f500;
   color: $red; 
}
.product__price{
   button{
      margin-bottom: 7px;
      box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
      border: none;
      background-color: $text;
      color: #fff;
      font-size: 16px;
      font-family: 'Roboto', sans-serif !important;
      font-weight: 700;
      text-align: center;
      display: block;
      padding: 17px 5px 15px;
      width: 100%;
      cursor: pointer;
      &::before{
         font-weight: 400;
         font-family: 'icomoon';
         padding-right: 8px;
      }
     
   }
   .icon-shopping-cart{
      background-color: $green;
    }
    .icon-heart-o{
      background-color: #42a5f5;
    }
}
.product-author__box{
   padding: 16px 0;
   display: flex;
   
}
.author__avatar{
   margin-right: 14px;
}
.author__name{
 font-size: 18px;
 color: $bg;
 margin-bottom: 14px;
 margin-top: -5px;
 
}
.author__info-link{
 font-size: 13px;
 color: #707070;
 max-width: 94px;
 padding: 3px 9px 2px;
 border: solid 1px #d6d6d6;

}
.author__awards-list{
  li{
     max-width: 34px;
     width:100%;
     height: 36px;
     display: inline-block;
     position: relative;
     & + li{
        margin-left: 3px;
     }
     &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #fff;

     }
  }
}

.icon-meh-o{
   background-image: url(../images/awards/award-orange.png);
   width: 34px;
   height: 37px;
}
.icon-pagelines{
   background-image: url(../images/awards/award-red.png);
   width: 34px;
   height: 37px;
}
.icon-flash{
  background-image: url(../images/awards/award-blue.png);
  width: 34px;
   height: 37px; 
}
.icon-foursquare{
  background-image: url(../images/awards/award-green.png);
  width: 34px;
  height: 37px;
}
.icon-yen{
   background-image: url(../images/awards/award-gray.png);
   width: 34px;
   height: 37px;
}
.aside__items-sales{
   padding-top: 21px;
   font-size: 16px;
   @include f300;
   color: #707070;
   span{
      font-size: 20px;
      @include f700;
      color: #263238;
      padding-right: 18px;
      &::before{
         content: "\f07a";
         color: #a6b5bb;
         font-family: 'icomoon' ;
         margin-right: 18px;
      }
   }
}
// .aside__title{
//    margin-bottom: 21px;
// }
.aside__item.sales-number{
   padding-bottom: 19px;
}
.information__line{
   color: #70838d;
   font-size: 14px;
   padding-bottom: 5px;
   line-height: 36px;
   span{
      font-size: 14px;
      @include f500;
      color: $bg;
      margin-right: 5px;
   }
}
.information__box{
   margin-top: 20px;
}
// end product-one 

//  start page-404

.page-404__wrapper{
   border: 1px solid #dedede;
   background-color: #fff;
   margin-bottom: 150px;
}
.page-404__head{
   @include f500;
   font-size: 24px;
   color: #444444;
   padding: 23px 27px;
   border-bottom: 1px solid #dedede;
}
.page-404__inner{
   background-color: $green;
   padding-top: 64px;
   text-align: center;
   color: #fff;
}
.page-404__404{
    font-size: 300px;
    font-weight: 800;
   // padding-left: 253px;
   font-family: 'Open Sans', sans-serif;
   color: #fffefe;
   padding-bottom: 23px;
   line-height: 300px;
   margin-left: -152px;
   position: relative;
   &::after{
      content: '';
      position: absolute;
      background-image: url(../images/page-404.png);
      background-size: cover;
      background-position:  center;
      background-repeat: no-repeat;
      top: 0;
      width: 152px;
      height: 292px;
      margin-left: 20px;
   }
}
.page-404__title {
   font-size: 30px;
   @include f300;
   margin-bottom: 30px;

}
.page-404__text {
   font-size: 18px;
   @include f300;
   max-width: 500px;
   margin: 0 auto;
   margin-bottom: 52px;

}
.page-404__link {
   font-size: 14px;
   color: #fff;
   @include f300;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 4px;
   padding: 14px 42px 14px 30px;
   margin-bottom: 100px;
   text-transform: uppercase;

}

 



// end page-404



@import '_media';



 
 
 
 